<include file="Common/header"/>
    <div id="wp" class="wp">
        <!--留白-->
        <div id="pt" class="bm cl"></div>

        <!--包含发贴和回贴-->
        <div id="ct" class="wp cl">

            <!--发贴列表start-->
                <div id="postlist" class="pl bm">
                    <table cellspacing="0" cellpadding="0">
                        <tbody><tr>
                            <td class="pls ptm pbm">
                            <div class="hm">
                            <span class="xg1">查看:</span> 
                            <span class="xi1"><?=$post['view_cnt']?></span>
                            <span class="pipe">|</span>
                            <span class="xg1">回复:</span> 
                            <span class="xi1"><?=$post['rep_cnt']?></span>
                            </div>
                            </td>
                            <td class="plc ptm pbn vwthd">

                            <h1 class="ts">
                                <a href="forum.php?mod=viewthread&amp;tid=6" id="thread_subject"><?=$post['title']?></a>
                            </h1>
                            <span class="xg1">
                            <a href="forum.php?mod=viewthread&amp;tid=6&amp;fromuid=1" onclick="return copyThreadUrl(this)" title="您的朋友访问此链接后，您将获得相应的积分奖励">[复制链接]</a>
                            </span>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <table cellspacing="0" cellpadding="0" class="ad">
                        <tbody><tr><td class="pls"></td><td class="plc"></td></tr>
                        </tbody>
                    </table>

                    <div id="post_16">
                        <table id="pid16" summary="pid16" cellspacing="0" cellpadding="0">
                            <tbody>
                                <tr>
                                    <td class="pls" rowspan="2">
                                        <a name="lastpost"></a><div class="pi">
                                        <div class="authi"><a href="home.php?mod=space&amp;uid=1" target="_blank" class="xw1"><?= $users[ $post['uid'] ] ['uname']?></a>

                                        </div>
                                        </div>

                                        <div>
                                        <div class="avatar" onmouseover="showauthor(this, 'userinfo16')"><a href="home.php?mod=space&amp;uid=1" target="_blank"><img src="<?=getSm( $users[$post['uid'] ]['uface']) ?>"></a></div>
                                        <div class="tns xg2">
                                        <table cellspacing="0" cellpadding="0">
                                        <tbody><tr><th><p><a href="home.php?mod=space&amp;uid=1&amp;do=thread&amp;view=me&amp;from=space" class="xi2">4</a></p>主题</th>
                                        <th>
                                        <p><a href="home.php?mod=space&amp;uid=1&amp;do=friend&amp;view=me" class="xi2">0</a></p>好友
                                        </th>
                                        <td><p><a href="home.php?mod=space&amp;uid=1&amp;do=profile" class="xi2">35</a></p>积分</td>
                                        </tr></tbody></table>
                                        </div>
                                        <p><em><a href="home.php?mod=spacecp&amp;ac=usergroup&amp;gid=1" target="_blank">管理员</a></em></p>
                                        </div>
                                    </td>
                                    <td class="plc">
                                        <div class="pi">

                                            <strong>
                                            <a href="forum.php?mod=viewthread&amp;tid=6&amp;fromuid=1">楼主</a>
                                            </strong>
                                            <div class="pti">
                                            <div class="pdbt">
                                            </div>
                                            <div class="authi">
                                            <img class="authicn vm" id="authicon16" src="/Public/Home/images/common/online_admin.gif">
                                            <em id="authorposton16">发表于 <span title="2018-5-4 11:05:56"><?=date('Y-m-d H:i:s', $post['created_at'])?></span></em>
                                            <span class="pipe">|</span><a href="forum.php?mod=viewthread&amp;tid=6&amp;extra=&amp;ordertype=1">倒序浏览</a>
                                            <span class="pipe">|</span>
                                            </div>
                                            </div>
                                        </div>
                                        <div class="pct"><style type="text/css">.pcb{margin-right:0}</style><div class="pcb">
                                            <div class="t_fsz">
                                            <table cellspacing="0" cellpadding="0"><tbody><tr><td class="t_f" id="postmessage_16">
                                            <?=$post['content']?></td></tr></tbody></table>
                                            </div>
                                            <div id="comment_16" class="cm">
                                            </div>
                                            <div id="post_rate_div_16"></div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="plc plm">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="pls"></td>
                                    <td class="plc" style="overflow:visible;">

                                    </td>
                                </tr>
                                <tr class="ad">
                                    <td class="pls"></td>
                                    <td class="plc">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            <!--发贴列表end-->
            <?php $n=1;?>
            <?php foreach($replys as $reply): ?>
            <!--回复列表start-->
                <div class="pl bm">

                <table cellspacing="0" cellpadding="0" class="ad"><tbody><tr><td class="pls"></td><td class="plc"></td></tr></tbody></table>
                <div id="post_16">
                <table id="pid16" summary="pid16" cellspacing="0" cellpadding="0">
                <tbody><tr>
                <td class="pls" rowspan="2">
                 <a name="lastpost"></a><div class="pi">
                <div class="authi"><a href="home.php?mod=space&amp;uid=1" target="_blank" class="xw1"><?=$users[$reply['uid']] ['uname']?></a>

                </div>
                </div>

                <div>
                <div class="avatar" onmouseover="showauthor(this, 'userinfo16')"><a href="home.php?mod=space&amp;uid=1" target="_blank"><img src="/<?=getSm($users[$reply['uid'] ]['uface'])?>"></a></div>
                <div class="tns xg2">
                <table cellspacing="0" cellpadding="0">
                <tbody><tr><th><p><a href="home.php?mod=space&amp;uid=1&amp;do=thread&amp;view=me&amp;from=space" class="xi2">4</a></p>主题</th>
                <th>
                <p><a href="home.php?mod=space&amp;uid=1&amp;do=friend&amp;view=me" class="xi2">0</a></p>好友
                </th>
                <td><p><a href="home.php?mod=space&amp;uid=1&amp;do=profile" class="xi2">35</a></p>积分</td>
                </tr></tbody></table>
                </div>
                <p><em><a href="home.php?mod=spacecp&amp;ac=usergroup&amp;gid=1" target="_blank">管理员</a></em></p>
                </div>

                </td>
                <td class="plc">
                <div class="pi">

                <strong>
                <a href="forum.php?mod=viewthread&amp;tid=6&amp;fromuid=1">第<?=$n++?>楼</a>
                </strong>
                <div class="pti">
                <div class="pdbt">
                </div>
                <div class="authi">
                <img class="authicn vm" id="authicon16" src="/Public/Home/images/common/online_admin.gif">
                <em id="authorposton16">发表于 <span title="2018-5-4 11:05:56"><?=date('Y-m-d H:i:s', $reply['created_at'])?></span></em>
                <span class="pipe">|</span><a href="forum.php?mod=viewthread&amp;tid=6&amp;extra=&amp;ordertype=1">倒序浏览</a>
                <span class="pipe">|</span>
                </div>
                </div>
                </div><div class="pct"><style type="text/css">.pcb{margin-right:0}</style><div class="pcb">
                <div class="t_fsz">
                <table cellspacing="0" cellpadding="0"><tbody><tr><td class="t_f" id="postmessage_16">
                <?=$reply['rcontent']?></td></tr></tbody></table>
                </div>
                <div id="comment_16" class="cm">
                </div>
                <div id="post_rate_div_16"></div>
                </div></div>

                </td></tr>
                <tr><td class="plc plm">


                </td>
                </tr>
                <tr>
                <td class="pls"></td>
                <td class="plc" style="overflow:visible;">

                </td>
                </tr>
                <tr class="ad">
                <td class="pls"></td>
                <td class="plc">
                </td>
                </tr>
                </tbody></table>
                </div>

                </div>
            <!--回复列表end-->
            <?php endforeach; ?>

            <div class="xi2 mbm pbm bbs"></div>
            <!--[diy=diyfastposttop]-->
                <div id="diyfastposttop" class="area"></div>
            <!--[/diy]-->
            <div id="f_pst" class="pl bm bmw">
                <form method="post" id="fastpostform" action="/index.php?m=home&c=reply&a=save">
                    <input type="hidden" name="pid" value="<?=$post['pid']?>">
                    <table cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td class="pls">
                                <div class="avatar"><img src="/Public/Home/images/common/tavatar.gif"></div></td>
                                <td class="plc">

                                    <span id="fastpostreturn"></span>


                                    <div class="cl">
                                        <div id="fastsmiliesdiv" class="y"><div id="fastsmiliesdiv_data"><div id="fastsmilies"></div></div></div><div class="hasfsl" id="fastposteditor">
                                        <div class="tedt mtn">
                                        <div class="bar">
                                        <span class="y">

                                        </span>
                                        </div>
                                        <div class="area">
                                        <textarea rows="6" cols="80" name="rcontent" id="fastpostmessage" tabindex="4" class="pt"></textarea>
                                        </div>
                                        </div>
                                        </div>
                                    </div>
                                    <div class="upfl hasfsl">
                                        <table cellpadding="0" cellspacing="0" border="0" id="attach_tblheader" style="display: none;">
                                        <tbody><tr>
                                        <td>点击附件文件名添加到帖子内容中</td>
                                        <td class="atds">描述</td>
                                        <td class="attv">
                                        阅读权限
                                        <img src="/Public/Home/images/common/faq.gif" alt="Tip" class="vm" onmouseover="showTip(this)" tip="阅读权限按由高到低排列，高于或等于选中组的用户才可以阅读">
                                        </td>
                                        <td class="attpr">金钱</td><td class="attc"></td>
                                        </tr>
                                        </tbody></table>
                                        <div class="fieldset flash" id="attachlist"></div>
                                    </div>

                                    <p class="ptm pnpost">
                                    <button type="submit" id="fastpostsubmit" class="pn pnc vm" value="replysubmit" tabindex="5"><strong>发表回复</strong></button>
                                    </p>
                                </td> 
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
<include file="Common/footer"/>